
<%- if type == 'today' %>
  <div class='weather-card <%= type %>'>
    <div class="location"> <%= data[:location] %> </div>
    <div class="time"> <%= data[:date] %> </div>
    <div class="text"> <%= data[:text] %> </div>
    <div class="temperature"> <%= data[:temperature] %> </div>
    <div class="other-conditions"> 
      <div> Wind: <%= data[:wind] %> </div>
      <div> Humidity: <%= data[:humidity] %> </div>
    </div>
  </div>
<% end -%>
<%- if type == 'forecast' %>  
    <% data.each do |d| %>
      <div class='weather-card  <%= type %>'>
        <div style="font-weight: 100; color: #bbb"> <%= d['day'] %> </div>
        <div> <%= d['text'] %> </div>
        <div> <%= d['high'] %> </div>
        <div> <%= d['low'] %> </div>
      </div>
    <% end %>
<% end -%>